* {
    padding: 0;
    margin: 0;
}

#header_div {
    background-color: #222222;
    height: 40px;
}

#header_div span {
    color: white;
    font-size: 14px;
    line-height: 40px;
}

#header_weather_div {
    display: inline-block;
    vertical-align: top;
}

.header_right {
    float: right;
    margin-right: 10px;
}

#weather_details {
    z-index: 10;
    display: none;
    width: 200px;
    height: 110px;
    background-color: #fff;
    padding: 0;
    border: 1px solid #e8e8e8;
    padding: 10px;
}

#weather_details span {
    font-size: 6px;
    line-height: 20px;
}

#weather_details .weather_details_location {
    color: #666;
    font-size: 12px;
}

#weather_details ul span {
    color: #999;
}

.weather_title {
    cursor: pointer;
}

.bg_blue_r_4 {
    border-radius: 4px;
    background-color: #5CBF4C;
    padding: 2px;
}

#weather_details .bg_blue_r_4 span {
    color: white;
}

ul {
    list-style: none;
}

#weather_details li {
    float: left;
    margin-right: 20px;
    text-align: center;
}

.weather_img_div {}

.weather_img_div img {
    width: 40px;
    height: 40px;
}

#content_div {
    padding-top: 15px;
    width: 1000px;
    margin: 0 auto;
    border: solid 1px black;
}

#left_title {
    display: inline-block;
    vertical-align: top;
}

.title {
    display: block;
    cursor: pointer;
    font-size: 24px;
    font-family: '黑体';
    color: red;
    line-height: 40px;
    text-align: center;
}

#left_title li span {
    display: block;
    font-size: 16px;
    width: 100px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.left_title_item_select {
    background: #ED4040;
    color: white;
}

.channel_item {
    background-color: white;
    color: 333;
}


#left_title li span:hover {
    background-color: #ED4040;
    color: white;
}


#conent_middle_div {
    display: inline-block;
    width: 600px;
    border: solid 1px black;
    vertical-align: top;
}

#banner ul {
    float: right;
    width: 50px;
    height: 300px;
    background-color: #222222;
    text-align: center;
}

#banner li span:hover {
    background-color: #ED4040;
}

#banner li span {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    width: 50px;
    color: white;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

#banner img {
    width: 550px;
    height: 300px;
}

#content_right {
    display: inline-block;
    width: 280px;
}

.search_div {
    position: relative;
}

.search_div input {
    height: 40px;
    line-height: 40px;
    margin: 0;
    box-sizing: border-box;
    width: 280px;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
}

.search_div span {
    width: 60px;
    line-height: 40px;
    position: absolute;
    background-color: #208EDA;
    right: 0;
    top: 0;
    text-align: center;
    color: white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


.normal_news_div li {
    height: 110px;
    margin-top: 10px;
}

.normal_news_div img {
    width: 160px;
    height: 110px;
    vertical-align: middle;
}

.news_content {
    vertical-align: middle;
    display: inline-block;
}

.news_content a {
    margin-left: 10px;
    display: block;
    text-decoration: none;
    color: black;
    height: 30px;
    font-size: 20px;
}

.news_content a:hover {
    color: #208EDA;
}

.news_content_info {
    margin-top: 6px;
    position: relative;
}

.news_info1 {
    cursor: pointer;
    margin-left: 10px;
    font-size: 12px;
    color: #456;
    border: 1px solid #456;
}

.news_info2 {
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.news_info3 {
    margin-left: 10px;
    font-size: 14px;
    color: #999;
}

.news_no_intes {
    display: inline-block;
    position: absolute;
    right: 0;
}

.news_no_intes img {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
}

.news_no_intes_show {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background-color: #ED4040;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    display: inline-block;
    pointer-events: none;
    transition: all 1s;
    transform: translateX(-100px);
}

.news_no_intes_hide {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background-color: #ED4040;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    pointer-events: none; //可以去除鼠标抖动，因为显示后遮住了img，导致触发了onmouseover
}